.desktop {
  width: 100vw;
}
.desktop .hero-img img {
  width: 100%;
}
.desktop .link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.877);
  font-family: "Teko", sans-serif;
  font-size: 3.5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 30px;
}

/* ANIMACIONES */
.mobile-navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.titulo {
  margin-right: 30vw;
  font-size: 2em;
}

.mobile-navbar a {
  font-size: 1.5em;
  padding: 0.2em;
  color: white;
}

.bio-titulo-desktop {
  font-size: 5em;
  margin-bottom: -5vw;
  display: flex;
  margin-left: 4rem;
}

.biografia {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
  padding: 3em;
}
.biografia .texto {
  margin-right: 50vw;
}

.imgBio {
  width: 40vw;
  height: 30vw;
  position: absolute;
  border-start-start-radius: 300px;
  border-end-end-radius: 300px;
}

.g-3, .gy-3 {
  --bs-gutter-y: 4rem;
}

.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 3rem !important;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.musica-desktop {
  display: flex;
  justify-content: center;
}
.musica-desktop .musica-desktop-avatar img {
  width: 100vw;
  height: 57rem;
  filter: blur(6px);
}
.musica-desktop .musica-desktop-text {
  font-size: 5em;
  position: absolute;
  color: white;
  top: 50vh;
}

.musica-mobile {
  display: flex;
  justify-content: center;
}
.musica-mobile .musica-mobile-avatar img {
  width: 80vw;
  height: 27rem;
  filter: blur(3.5px);
}
.musica-mobile .musica-mobile-text {
  font-size: 2em;
  position: absolute;
  color: white;
  text-align: center;
  margin-top: 4em;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.videos-desktop {
  display: flex;
  justify-content: center;
}
.videos-desktop .videos-desktop-avatar img {
  width: 100vw;
  height: 70rem;
}
.videos-desktop .videos-desktop-text {
  font-size: 5em;
  position: absolute;
  color: white;
  top: 50vh;
}

.btn-play {
  position: absolute;
  left: 40%;
  top: 40%;
  background: rgba(255, 250, 250, 0);
  border-radius: 50px;
  text-align: center;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.btn-play {
  -webkit-animation: aniPlay 3s ease 1s 1 normal forwards;
          animation: aniPlay 3s ease 1s 1 normal forwards;
}

@-webkit-keyframes aniPlay {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@keyframes aniPlay {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.img-contacto-desktop {
  width: 100vw;
}

.contacto-text {
  color: white;
  font-size: 5em;
  position: relative;
  bottom: 30vw;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
* {
  font-family: "Teko", sans-serif;
}

html,
body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

/*NAVBAR*/
.nav-link {
  color: rgb(0, 0, 0);
}
.nav-link:hover {
  color: rgb(219, 32, 32);
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #f00;
}

.navLat {
  background-color: rgba(255, 255, 255, 0.911);
  font-size: larger;
  background-image: url(../fotos\ ODP/fondoNav.jpg);
  background-position: bottom right;
}

.btn-close {
  width: 0em;
  height: 0em;
}

.offcanvas {
  max-width: 65%;
}

#bando-offcanvas-toggler {
  width: 30vw;
  opacity: 15%;
  z-index: -999;
  margin-right: -290px;
}

.navFont {
  color: rgba(255, 255, 255, 0.9);
  font-size: 8vw;
  margin-bottom: 70px;
}
.navFont:hover {
  color: rgba(180, 70, 6, 0.897);
}

.navbar > .container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: -75px;
}

.navbar-dark {
  --bs-navbar-toggler-border-color: #212529 ;
}

button.navbar-toggler {
  opacity: 0%;
}

/*BIO*/
.bio-container {
  background-color: rgb(255, 255, 255);
}

section .bio-titulo {
  font-size: 2rem;
}

.banner {
  padding: 1px;
}

p {
  color: black;
  margin: 1rem;
  padding: 0.5rem;
}

/*INTEGRANTES*/
section .integrantes-titulo {
  font-size: 2rem;
}

/*CARDS INTEGRANTES*/
.container {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 300px;
  background: #f1f1f1;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px;
}

.container::-webkit-scrollbar {
  height: 6px;
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container .item {
  flex: 0 0 100%;
  padding: 24px;
  color: #000000;
  background-color: white;
  box-shadow: 3px 3px 9px #000000;
  scroll-snap-align: start;
}

.container .item h2 {
  text-transform: capitalize;
}

.container .item h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 8px;
}

.container .item:nth-child(1) {
  background-image: url(../odp-vert-mob/violing.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.container .item:nth-child(2) {
  background-image: url(../odp-vert-mob/viola.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.container .item:nth-child(3) {
  background-image: url(../odp-vert-mob/cello.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.container .item:nth-child(4) {
  background-image: url(../odp-vert-mob/bando.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.container .item:nth-child(5) {
  background-image: url(../odp-vert-mob/contrab.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.container .item:nth-child(6) {
  background-image: url(../odp-vert-mob/piano.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

h2,
li {
  color: #D41D13;
}

h4 {
  color: #D41D13;
}

.container img {
  width: 3.5rem;
  padding: 10px;
}

/*MUSICA Y VIDEOS*/
.spotify {
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.781);
  margin-top: 50px;
}

section .musica-titulo {
  font-size: 2rem;
}

section .videos-titulo {
  font-size: 2rem;
}

section .corto-titulo {
  font-size: 2rem;
}

.videos {
  margin-top: 5%;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #171717;
  color: white;
  font-size: 13px;
  padding: 6px 29px;
}

.imgCck {
  padding: 10px;
  height: 30vw;
  width: 50vw;
  margin-left: 25%;
}

/*CONTACTO*/
.contacto-titulo {
  font-size: 2em;
}

.form-floating > .form-control {
  margin-bottom: 20px;
  border-radius: 2px;
}

.imgContacto {
  display: block;
  margin: 0 auto;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
}

/*FOOTER*/
footer {
  --bs-body-color-rgb: $dorado;
  --bs-border-color: red;
  color: black;
}

footer img {
  display: flex;
  margin: 5px;
  width: 35px;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) black !important;
}

/* ANIMACIONES*//*# sourceMappingURL=styles.css.map */