@import 'vars.scss';
@import 'desktop.scss';
@import 'bioDesktop.scss';
@import 'musicaDesktop.scss';
@import 'videosDesktop.scss';
@import 'contactoDesktop.scss';


* {
  font-family: 'Teko', sans-serif;

}

html,
body {
  background-color: $background;
}

a {
  text-decoration: none;
  color: black;
}


/*NAVBAR*/

.nav-link{
  color: rgb(0, 0, 0);
  &:hover {
    color: rgb(219, 32, 32);
  }
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #f00;
}

.navLat {
  background-color: rgba(255, 255, 255, 0.911);
  font-size: larger;
  background-image: url(../fotos\ ODP/fondoNav.jpg);
  background-position: bottom right;
  
}

.btn-close{
  width: 0em;
  height: 0em;
}

.offcanvas{
  max-width: 65%;
}

#bando-offcanvas-toggler {
    width: 30vw;
    opacity: 15%;
    z-index: -999;
    margin-right: -290px;
  
}

.navFont {
  color: rgba(255, 255, 255, 0.9);
  font-size: 8vw;
  margin-bottom: 70px;


  &:hover {
    color: $colorHover;
  }
}

.navbar>.container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: -75px;
}

.navbar-dark {
  --bs-navbar-toggler-border-color: #212529
}


button.navbar-toggler{
  opacity: 0%;
}


/*BIO*/

.bio-container{
  background-color: rgb(255, 255, 255);
  
}


section .bio-titulo {
  font-size: 2rem;
  
}

.banner {
  padding: 1px;
}

p {
  color: black;
  margin: 1rem;
  padding: 0.5rem;

}


/*INTEGRANTES*/

section .integrantes-titulo {
  font-size: 2rem;
}


/*CARDS INTEGRANTES*/
.container {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 300px;
  background: $background;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px;
}

.container::-webkit-scrollbar {
  height: 6px;
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container .item {
  flex: 0 0 100%;
  padding: 24px;
  color: #000000;
  background-color: white;
  box-shadow: 3px 3px 9px #000000;  
  scroll-snap-align: start;
}

.container .item h2 {
  text-transform: capitalize;
}

.container .item h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 8px;
}

.container .item:nth-child(1) {
  background-image: url(../odp-vert-mob/violing.jpg);
  background-repeat: no-repeat;
  background-position: right;

}
.container .item:nth-child(2) {
  background-image: url(../odp-vert-mob/viola.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.container .item:nth-child(3) {
  background-image: url(../odp-vert-mob/cello.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.container .item:nth-child(4) {
  background-image: url(../odp-vert-mob/bando.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.container .item:nth-child(5) {
  background-image: url(../odp-vert-mob/contrab.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.container .item:nth-child(6) {
  background-image: url(../odp-vert-mob/piano.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

h2,
li {
  color: $rojo;

}

h4 {
  color: $rojo;
}

.container img {
  width: 3.5rem;
  padding: 10px;
}



/*MUSICA Y VIDEOS*/

.spotify{
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.781);
  margin-top: 50px;
}


section .musica-titulo{
  font-size: 2rem;
}

section .videos-titulo{
  font-size: 2rem;
}

section .corto-titulo{
  font-size: 2rem;
}


.videos {
  margin-top: 5%;
}

//PROXIMAMENTE CARD

.container {
  position: relative;
 
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #171717;
  color: white;
  font-size: 13px;
  padding: 6px 29px;
}

.imgCck {

  padding: 10px;
  height: 30vw;
  width: 50vw;
  margin-left: 25%;
}

/*CONTACTO*/

.contacto-titulo{
  font-size: 2em;
}


.form-floating>.form-control {
  margin-bottom: 20px;
  border-radius: 2px;
}

.imgContacto {
 display: block;
 margin: 0 auto;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
}


/*FOOTER*/

footer {
  // position: fixed;
  // height: 50px;
  // bottom: 0px;
  // left: 0px;
  // right: 0px;
  // margin-bottom: 0px;

  --bs-body-color-rgb: $dorado;
  --bs-border-color: red;
  color: black;
}

footer img{
  display: flex;
  margin: 5px;
  width: 35px;
}

.border-bottom{
  border-bottom: var(--bs-border-width) var(--bs-border-style) black!important;
  
}

/* ANIMACIONES*/

// @keyframes aniTextBio {
// 	0% {
// 		transform: translateX(0);
// 	}

// 	100% {
// 		transform: translateX(100px);
// 	}
// }

// .aniTextBio{
//   animation: aniTextBio 0.5s ease 0s 1 reverse  forwards;
// }

// .aniTextBio2{
//   animation: aniTextBio 1s ease 0s 1 reverse forwards;
// }

// .aniTextBio3{
//   animation: aniTextBio 1.5s ease 0s 1 reverse  forwards;
// }

// .aniTextBio4{
//   animation: aniTextBio 2s ease 0s 1 reverse forwards;
// }